*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Roboto' !important;
}

.yape{
    background: #fbd43b;
    width:100%;
    height: 100vh;
}
.welcome{
	height: 100vh;
	background: #fff;
    text-align: center;
}

.linkTerms{
    color: #266A68;
    text-decoration: none;
}

#terms:cheked{
    background-image: teal url("..img/icons/check-symbol") center center;
}

.env-rec{
    flex-wrap: wrap;
    display:flex;
    padding-top: 15%;
}

.linkhello{
    display: inline-block;
}

#send{
    margin-left: 25px;
    margin-right: 40%;
}
.orange{
    background: #f9c70e!important;
    font-size: 3em;
    border-radius: 10px;
    color: white;
    border:none;
}

.register{
    width: 70%;
    height: 5%;
}

.mtop5{
    margin-top: 12%;
}
.mtop10{
    margin-top: 20%;
}

.mbot5{
    margin-bottom: 5%!important;
}

.minput10{
    margin-bottom: 10%!important;
}
.contenido{
   padding-top: 60%;
}
.item img{
    margin: 20px auto;
}

.bold{
    font-weight: 600;
}
.font3{
    font-size: 3em;
}

section{
    width: 90%;
    height: 100vh;
    margin:0px auto;
    text-align: center;
}

.continuar{
    padding: 0.5em 3em;
}

button:disabled{
    background: silver!important;
}
input[type="text"],
input[type="number"],
input[type="tel"]{
    border-left: 5px;
    margin:0px auto;
    font-size: 4em;
    text-align: center;
    border-bottom: 2.5px solid #9e9e9e;
}

input[type="checkbox"]{
    opacity: 1!important;
    position: relative;
    appearance:none;
    left: 10px!important;
    width: 60px;
    height: 50px;
    margin-left:13%;
    outline: none;
}
input[type="checkbox"]:checked{
    background-color: darkturquoise;
}

.validation p{
    font-size: 2.5rem;
}

.fvencimiento{
    height: 4rem!important;
    font-size: 3.5em!important;
}
#validation,#codeuser,#name,#mail,#password,#card,#lockCard{
    background-size: 200px cover;
    padding-left: 30%;
    padding-right: 25%;
    width: 35%;
    height: 6rem;
    margin: 0px auto;
}
#name,#mail,#password,#card{
    padding-left: 20%!important;
    padding-right: 10%!important;
    width: 65%;
    border-bottom: 2.5px solid #9e9e9e;
    font-size: 3.5em!important;
}
#name{
    background: url(../img/icons/user.png) no-repeat 30px 10px;
}
#mail{
    background: url(../img/icons/message-gray.png) no-repeat 30px 10px;
}
#validation{
    background: url(../img/icons/phoneandnumber.png) no-repeat 30px -10px;
}
#codeuser,#password{
    background: url(../img/icons/lock.png) no-repeat 30px -2px;
}
#lockCard{
    background: url(../img/icons/lock.png) no-repeat 30px -2px;
}
#card{
    background: url(../img/icons/card.png) no-repeat 30px 15px;
}
.time{
    font-size: 3em;
}

.codeuser a{
    font-size: 2.5em;
}

.bg-white{
    color: white!important;
}

.hello{
    margin:0px!important;
    width: 100%;
}
.header{
    background:#451e36;
    width: 100%!important;
    height: 40vh;
}

.engine{
    float: right;
    margin-right: 40px;
    margin-top: 70px;
}

.movimientos{
    width: 100%;
    height: 60vh;
    background: rgb(56,5,42);
}

.border-div{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.circular{
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 20px;
}

.detail{
    padding-left: 5%;
}

.pago{
    flex-wrap: wrap;
    display:flex;
    text-align: left;
}
.header .linkTerms{
    font-size: 3em;
}
.ult-mov{
    float: left;
    margin-left: 20px;
}
/*modify Carousel*/
.owl-carousel .owl-item img {
    width: 60%!important;
}
.owl-theme .owl-dots .owl-dot span  {
    width: 35px!important;
    height: 35px!important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: orange!important;
}
